﻿@{
    string phasesIDs = "";
    ViewBag.Title = "Projects";
}
@if (ViewBag.Project != null)
{
    ViewBag.Title = ViewBag.Project.Name;
    foreach (var ph in ViewBag.Project.Phases)
    {
        phasesIDs += "#" + ph.ID + ", ";
    }
}
@section JavaScript
{
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    @*    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>*@
    <script>  $(function () {
      $("@phasesIDs").sortable({
          connectWith: ".tasks_container",
          cursor: 'move',
          stop: function (event, ui) {
              //alert("Moved task: " + ui.item.attr("id") + " to phase: " + ui.item.parent().attr("id"));
              $.ajax({
                  url: "/Home/MoveTask",
                  type: "post",
                  data: {
                      taskId:     ui.item.attr("id"),
                      phaseId:    ui.item.parent().attr("id")
                    },
                  error: function (request, textStatus, errorThrown) {
                      alert(request.statusText + textStatus + errorThrown + "\n Page will be reloaded");
                      document.location.reload(true);
                  }
              });
          },
      }).disableSelection();
  });

    </script>
}

@section featured {


    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <h3>@ViewBag.Member.Name</h3>
            </hgroup>
            <div>
                <ul id="projectList">
                    @foreach (var p in ViewBag.Projects)
                    {
                        <li>
                            <a href="~/?project=@p.ID">@p.Name</a>
                            <a href="~/Home/Project?project=@p.ID"><i class="icon-edit"></i></a>
                            <a href="~/Home/Project?project=@p.ID&delete=✓"><i class="icon-remove"></i></a>
                        </li>
                    }
                    <li><a href="~/Home/Project" id="addProject">Add new project</a></li>
                </ul>
            </div>

            <div class="phases-container">
                @if (ViewBag.Project != null)
                {
                    foreach (var ph in ViewBag.Project.Phases)
                    {
                    <div class="phase">
                        <a href="~/Home/Phase?phase=@ph.ID"><span class="phase_name">@ph.Name</span></a>
                        <a href="~/Home/Phase?phase=@ph.ID&delete=✓"><i class="icon-remove" style="float: right; padding-right: 15px;"></i></a>
                        <ul id="@ph.ID" class="tasks_container">
                            @foreach (var t in ph.TaskIDs)
                            {
                                <li class="task" id="@t" style="background-color:  @ViewBag.PriorityDictonary[@ViewBag.DataAccess.taskWithID(t).Priority];" priority="@ViewBag.DataAccess.taskWithID(t).Priority;">
                                    <a href="~/Home/Task/?taskId=@t">@ViewBag.DataAccess.taskWithID(t).Name</a>
                                    <a href="~/Home/Task/?taskId=@t&delete=✓"><i class="icon-remove-circle" style="float: right;"></i></a>
                                </li>
                               
                            }

                        </ul>
                        <div class="add-task-placeholder">
                            <a href="~/Home/NewTask/?phase=@ph.ID">Add new task</a>
                        </div>
                    </div>
                    }
                    <div class="phase">
                        <a href="~/Home/Phase?project=@ViewBag.Project.ID"><span class="phase_name">Add new Phase</span></a>
                    </div>
                }

            </div>
        </div>
    </section>
}

