﻿@model  Common.DTO.Task

@{
    ViewBag.Title = "Task";
}

<h2>New Task</h2>


@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Create New Task</legend> 
        @Html.Hidden("phaseId", (string)@ViewBag.PhaseId)
        <div class="task-name"> 
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name,  new {  @Placeholder = "Name..."}) 
        </div> 
        <div class="task-description">
            @Html.LabelFor(model => model.Description) 
            @Html.TextBoxFor(model => model.Description, new { @Placeholder = "Description..."}) 
        </div> 
        <div class="task-priority">
            @Html.LabelFor(model => model.Priority) 
            @Html.DropDownListFor(model => model.Priority, new SelectList(new List<int>() {0, 1, 2, 3, 4})) 
        </div>
        <p> 
            <input type="submit" value="Add Task" /> 
        </p> 
    </fieldset> 
}
