﻿@model Common.DTO.Phase

@{
    ViewBag.Title = "NewPhase";
}



@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Create New Phase</legend> 
        @Html.Hidden("projectId", (string)@ViewBag.ProjectId)
        @Html.Hidden("phaseId", (string)@ViewBag.PhaseId)
        <div class="task-name"> 
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name,  new {  @Placeholder = "Name..."}) 
        </div> 

        <p> 
            <input type="submit" value="Save Phase" /> 
        </p> 
    </fieldset> 
}

