﻿@model Common.DTO.Project

@{
    ViewBag.Title = "Project";
}


@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Project</legend> 
        @Html.Hidden("projectId", (string)@ViewBag.ProjectId)
        @Html.Hidden("memberId", (string)@Session["memberId"])
        <div class="task-name"> 
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name,  new {  @Placeholder = "Name..."}) 
        </div> 

        <p> 
            <input type="submit" value="Save Project" /> 
        </p> 
    </fieldset> 
}

