﻿@model  Common.DTO.Task

@{
    ViewBag.Title = "Task";
}

    @ViewBag.TaskId
    @ViewBag.Task.Name
    @ViewBag.Task.Description
    @ViewBag.Task.Priority


@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Edit Task</legend> 
        @Html.HiddenFor(model => model.ID, new { @Value = @ViewBag.TaskId })
        <div class="task-name"> 
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name,  new { @Value = @ViewBag.Task.Name}) 
        </div> 
        <div class="task-description">
            @Html.LabelFor(model => model.Description) 
            @Html.TextBoxFor(model => model.Description, new { @Value = @ViewBag.Task.Description}) 
        </div> 
        <div class="task-priority">
            @Html.LabelFor(model => model.Priority) 
            @Html.DropDownListFor(model => model.Priority, new SelectList(new List<int>() {0, 1, 2, 3, 4}, ViewBag.Task.Priority)) 
        </div>
        <p> 
            <input type="submit" value="Edit Task" /> 
        </p> 
    </fieldset> 
}